@import 'tailwindcss';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --color-brand-orange: #ffa100;
}
